.project_container{
    background-color:rgb(183, 187, 187);
    box-shadow: 0 4px 4px whitesmoke;
    max-width: 100%;
    margin: 0 auto 15px;
    
}.project_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 10px;
    list-style-type: none;
    box-shadow: 0 0 20px rgba(0, 0, 0);
    padding: 20px;
    
    justify-content: center;
}.project_img{
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    border: solid 3px rgb(64, 62, 62);
    transition: 0.3s;
    background-color: rgb(64, 62, 62);
    box-shadow: -3px 5px 3px rgb(120, 115, 115);   
}.project_img:hover{
    transform: scale(1.15);
    transition: 0.3s;
    border: 20px;
    border-radius: 10px;
    border: solid 3px rgb(64, 62, 62);
    box-shadow: -3px 5px 15px rgb(88, 86, 86);
}.projects_subheader{
    font-family: 'Shadows Into Light';
    font-size: 1.1em;
}
.overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 190;
    
}.fade_in{
    animation: fadeIn 0.75s ease-in;
}.fade_out{
    animation: fadeOut 0.75s ease-in;
}

.popup_body{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(20, 26, 53, 0.9);
    box-shadow: 0 0 30px rgb(147, 147, 147);
    z-index: 201;
    border-radius: 10px;
    padding: 20px;
    max-width: 20rem;
    max-height: 80vh;
}.slide_in{
    animation: slideIn 0.75s ease-in;
}.slide_out{
    animation: slideOut 0.75s ease-in;
}
.close_btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    height: 10%;
    color: white;
}.popup_title{
    max-width: 74%;
    font-weight: 400;
    

}
.popup_img{
    margin-top: 10px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}.popup_section{
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 5px;
}
.popup_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    overflow-y: auto;
    padding-right: 10px;
    padding-left: 10px;
}.popup_info a{
    color: lightblue;
    text-decoration: none;
}.popup_info a:hover{
    color: darkkhaki;
}
.popup_info::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
.popup_info::-webkit-scrollbar-thumb{
    background: rgba(255,255,255, 0.5);
    border-radius: 10px;

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-100%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);

    }
    to {
        opacity: 0;
        transform: translate(0, -50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}