.about_body{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5rem;   
    margin-bottom: 2rem;
}.image_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
   
    width: 50%;
}
.images{
    position: relative;
    height: 30rem;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 30px 2px rgba(255, 255, 255, 0.175),
       0 0 20px -5px rgb(255, 255, 255);
    
    z-index: 10;
    border-radius: 15rem;
    margin-top: 1.5rem;
}

.image_info{
   display: flex;
   align-items: center;
   height: 10%;
   width: 100%;
    margin-top: 3rem;
}.next_button{
    background: transparent;
    border: 10px solid transparent;
    border-left: 16px solid white ;
    
}.next_button:hover{
    border-left: 16px solid darkkhaki;
    transition: 0.15s;
    cursor: pointer;
}.next_button:active{
    border-left: 16px solid rgb(106, 102, 36);
}.prev_button{
    background: transparent;
    border: 10px solid transparent;
    border-right: 16px solid white ;
}.prev_button:hover{
    border-right: 16px solid darkkhaki;
    transition: 0.15s;
    cursor: pointer;
}.prev_button:active{
    border-right: 16px solid rgb(106, 102, 36);
}

.image_desc{
    flex: 1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.about_info{
    position: relative;
    width: 50%;
}
.pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    border-radius: 10rem;
    box-shadow: 0 0 20px black;
    /* Keep position of image centered regardless of scale */
    transform-origin: center center;

    transition:
        transform 2s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 2s ease,
        z-index 0s;
}

/* CENTER (front, biggest) */
.pic0 {
    transform: translate(-50%, -50%) translate(0rem, -10px) scale(1);
    z-index: 3;
    opacity: 1;
}

/* LEFT */
.pic3 {
    transform: translate(-50%, -50%) translate(-10rem, 40px) scale(0.4);
    z-index: 1;
    opacity: 0.4;
}

/* RIGHT */
.pic1 {
    transform: translate(-50%, -50%) translate(10rem, 40px) scale(0.4);
    z-index: 1;
    opacity: 0.4;
}

/* BACK (hidden) */
.pic2 {
    transform: translate(-50%, -50%) translate(0rem, 80px) scale(0.2);
    z-index: 0;
    opacity: 0;
}

